$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

// colors
$light-green: #63d1bb; 
$dark-green: #56c3b2; 
$grey: #444444;
$cream: #fafafa;

$max-width: 1150px;