.advantages {
  width: auto;
  padding-top: 30px;
}

.advantages__title {
  margin: 0;
  margin-bottom: 31px;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  @include list-style-reset;
}

.advantages__item {
  margin-bottom: 33px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-repeat: no-repeat;

  &--flower {
    padding-top: 55px;
    background-image: url("../img/icon-feature-flower.svg");
    background-position: 7px 0;
  }
  &--money {
    padding-top: 52px;
    background-image: url("../img/icon-feature-money.svg");
    background-position: 0 0;
  }
  &--heart {
    padding-top: 50px;
    background-image: url("../img/icon-feature-heart.svg");
    background-position: 7px 0;
  }
  &--ball {
    padding-top: 50px;
    background-image: url("../img/icon-feature-ball.svg");
    background-position: 3px 0;
  }
  &--rocket {
    padding-top: 50px;
    background-image: url("../img/icon-feature-rocket.svg");
    background-position: 0 0;
  }
  &--gift {
    padding-top: 50px;
    background-image: url("../img/icon-feature-gift.svg");
    background-position: 3px 0;
  }
}

@media (min-width: $tablet-width) {
  .advantages {
    padding-top: 50px;
  }

  .advantages__title {
    margin-bottom: 45px;
    font-size: 43px;
    line-height: 50px;
  }

  .advantages__list {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 50%;
    margin-bottom: 62px;
    font-size: 20px;
    line-height: 22px;

    &--flower {
      order: 1;
    }
    &--ball {
      order: 2;
    }
    &--money {
      order: 3;
    }
    &--rocket {
      order: 4;
    }
    &--heart {
      order: 5;
    }
    &--gift {
      order: 6;
    }
  }
}

@media (min-width: $desktop-width) {
  .advantages {
    padding-top: 60px;
  }

  .advantages__wrapper {
    max-width: 1150px;
    margin: 0 auto;
    padding-left: 225px;
  }

  .advantages__title {
    margin-bottom: 45px;
    font-size: 53px;
    line-height: 57px;
  }
  .advantages__list {
    justify-content: flex-start;
  }

  .advantages__item {
    width: 350px;
  }
}