.form {
  width: auto;  
}

.form-intro {
  margin: 0;
  margin-bottom: 22px;
  padding: 0 30px;
  padding-top: 23px;
  font-size: 13px;
  line-height: 24px;
}

.form__item {
  width: auto;
  margin: 0;
  padding: 0;
  border-style: none;
}

.form__item-title {
  position: relative;
  margin: 0;
  font-size: 17px;
  line-height: 17px;
  font-weight: 700;
  text-transform: uppercase;
  color: $light-green;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 62px;
    right: 0;
    height: 1px;
    background-color: $light-green;
  }
}

.form__label {
  display: block;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #000000;
  cursor: pointer;
  box-sizing: border-box;
}

.form textarea,
.form input {
  outline: none;
}

 .form input,
 .form textarea {
  &::-webkit-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba($color: $grey, $alpha: 0.3);
  }
  &:-ms-input-placeholder {
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    font-family: "Open Sans", "Arial", sans-serif;
    color: rgba($color: $grey, $alpha: 0.3);
  }
}

.form__submit {
  display: flex;
  margin-top: 10px;
  margin-bottom: 60px;
  flex-direction: column;
}

.form__required {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.form__submit-btn {
  width: 100%;
}

@media (min-width: $tablet-width) {
  .form-intro {
    padding: 0 50px;
    padding-top: 60px;
    font-size: 17px;
    line-height: 30px;
  }

  .form__item-wrapper {
    width: 100%;
    display: flex;
    align-items: baseline;
  }

  .form__label {
    font-size: 19px;
    line-height: 24px;
  }

  .form__item-title {
    width: 25%;
    flex-shrink: 0;
    &::before {
      display: none;
    }
  }

 .form input,
 .form textarea {
    &::-webkit-input-placeholder {
      font-size: 19px;
      line-height: 24px;
      font-weight: 400;
      font-family: "Open Sans", "Arial", sans-serif;
      color: rgba($color: $grey, $alpha: 0.3);
    }
    &:-ms-input-placeholder {
      font-size: 19px;
      line-height: 24px;
      font-weight: 400;
      font-family: "Open Sans", "Arial", sans-serif;
      color: rgba($color: $grey, $alpha: 0.3);
    }
  }

  .form__submit {
    display: flex;
    margin-top: 52px;
    margin-bottom: 35px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .form__required {
    margin: 0;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
    text-align: right;
    order: 2;
  }
  
  .form__submit-btn {
    width: 230px;
    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .form-intro {
    width: 1150px;
    margin: 0 auto;
    margin-bottom: 22px;
    padding-left: 225px;
    padding-right: 225px;
    padding-top: 102px;
    box-sizing: border-box;
  }

  .form__item-wrapper {
    max-width: 1150px;
    margin: 0 auto;
  }
  
  .form__item-title {
    width: 175px;
    text-align: center;
  }

  .form__submit {
    display: flex;
    max-width: 1150px;
    margin: 0 auto;
    margin-top: 52px;
    margin-bottom: 30px;
    padding: 0 225px;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}

