.social {
  display: flex;
  width: 100%;
  margin-bottom: 22px;
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .social {
    width: 146px;
    margin-bottom: 0;
    padding: 0;
    border-style: none;
  }
}